---
layout:   default
---

{{ content }}


<div class="footer border-top border-gray-light mt-5 pt-3 text-gray">
    <p>
        All posts appearing here are the opinions of the author (that would be me).
        All rights reserved
    </p>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <a href="/about/">About this page</a>
            </div>
            <div class="col">
                <a href="/author-info/">About the author</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="mailto:{{ site.email }}">Contact the author</a>
            </div>
        </div>
    </div>
</div>
